@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Pixelify+Sans:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#div{
    background: hsl(340, 100%, 63%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 150px 150px minmax(100, 1fr);
    grid-template-areas: 
    "hea nav nav nav"
    "men im1 im2 im3"
    "men se1 se2 se3"
    "men im4 im5 im6"
    "men se4 se5 se6"
    "men im7 im8 im9"
    "men se7 se8 se9"
    ;

}

header{
    background: rgb(0, 0, 0);
    grid-area: hea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#nmr1{
    color: rgb(197, 23, 142);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;

}

#menu{
    grid-area: men;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: hsl(311, 81%, 51%);
}


nav{
    grid-area: nav;
    background: rgb(192, 22, 175);
    display: flex;
    justify-content: center;
    align-items: center;
}


#link_list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}



#he1{
    grid-area: he1;
}
#he2{
    grid-area: he2;
}
#he3{
    grid-area: he3;
}


img{
    height: 100%;
    width: 100%; 
    padding: 10px;
    border-radius: 10%;
}

#bild1{
    grid-area: im1;
}

#bild2{
    grid-area: im2;
}

#bild3{
    grid-area: im3;
}

#bild4{
    grid-area: im4;
}

#bild5{
    grid-area: im5;
}

#bild6{
    grid-area: im6;
}

#bild7{
    grid-area: im7;
}

#bild8{
    grid-area: im8;
}

#bild9{
    grid-area: im9;
}



#section_1{
    grid-area: se1;
    padding: 10px;
}

#section_2{
    grid-area: se2;
    padding: 10px;
}

#section_3{
    grid-area: se3;
    padding: 10px;
}

#section_4{
    grid-area: se4;
    padding: 10px;
}

#section_5{
    grid-area: se5;
    padding: 10px;
}

#section_6{
    grid-area: se6;
    padding: 10px;
}

#section_7{
    grid-area: se7;
    padding: 10px;
}

#section_8{
    grid-area: se8;
    padding: 10px;
}

#section_9{
    grid-area: se9;
    padding: 10px;
}

#skapa{
    background: rgb(137, 188, 235);
    color: rgb(25, 77, 187);
}

h1 {
    color: rgb(6, 6, 6);

    font-size: 2.56rem;


}

p {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}


footer{
    grid-area: foo;
    background: maroon;

}



a {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
}